	<!DOCTYPE html>
	<html lang="en">
	<head>
	  
		<!-- start: Meta -->
		<meta charset="utf-8">
		<title>Mingoville Dashboard</title>
		<meta name="description" content="Mingoville Dashboard.">
		<!-- end: Meta -->
		<!-- start: Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- end: Mobile Specific -->


	  <!--<%= stylesheet_link_tag    "application" , :media => "all" %>-->
	  <%= stylesheet_link_tag "bootstrap.min" , :media => "all" %>
	  <%= stylesheet_link_tag "bootstrap-responsive.min" , :media => "all" %>
      <%= stylesheet_link_tag "style" , :media => "all" %>
      <%= stylesheet_link_tag "style-responsive", :media => "all"  %>


	  <%= javascript_include_tag "application" %>


	  <%= csrf_meta_tags %>
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
				<!--[if lt IE 9]>
				  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
				  <![endif]-->

	</head>
	<body>
		<div id="overlay">
			<ul>
				<li class="li1"></li>
				<li class="li2"></li>
				<li class="li3"></li>
				<li class="li4"></li>
				<li class="li5"></li>
				<li class="li6"></li>
			</ul>
		</div>	
		<!-- start: Header -->
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container-fluid">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<a class="brand" href="index"> <span class="hidden-phone">Mingoville Dashboard</span></a>

							<!-- start: Header Menu -->
							<div class="nav-no-collapse header-nav">
								
							</div>
							<!-- end: Header Menu -->
						</div>
					</div>
				</div>
				<!-- start: Header -->


<div class="container-fluid">
					<div class="row-fluid">
						
						<!-- start: Main Menu -->
						<div class="span2 main-menu-span">
							<div class="nav-collapse sidebar-nav">
								<ul class="nav nav-tabs nav-stacked main-menu">
									<li><a href="index"><i class="icon-home icon-white"></i><span class="hidden-tablet"> Home</span></a></li>
									<li>
										<a class="dropmenu" href="#"><i class="icon-folder-close icon-white"></i><span class="hidden-tablet"> Mingoville</span></a>
										<ul>
											<li><a class="submenu" href="mingoville.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Global stats</span></a></li>
											<li><a class="submenu" href="mingo_zone_distribution.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Zone Distribution</span></a></li>
											<li><a class="submenu" href="mingo_transactions.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Transactions</span></a></li>
											<li><a class="submenu" href="virtual_mingoville.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Virtual World</span></a></li>
											<li><a class="submenu" href="classic_mingoville.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Classic Mingoville</span></a></li>
											
										</ul>	
									</li>
									<li>
										<a class="dropmenu" href="#"><i class="icon-folder-close icon-white"></i><span class="hidden-tablet"> Skolemat</span></a>
										<ul>
											<li><a class="submenu" href="skolemat.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Global Stats</span></a></li>
											<li><a class="submenu" href="skol_transactions.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Transactions</span></a></li>
											<li><a class="submenu" href="skol_popular.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Popular Activities</span></a></li>	
										</ul>	
									</li>
									<li>
										<a class="dropmenu" href="#"><i class="icon-folder-close icon-white"></i><span class="hidden-tablet"> Mondiso</span></a>
										<ul>
											<li><a class="submenu" href="mondiso.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Global Stats</span></a></li>
											<li><a class="submenu" href="mond_zone_distribution.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Zone Distribution</span></a></li>
											<li><a class="submenu" href="mond_transactions.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Transactions</span></a></li>
											<li><a class="submenu" href="mond_popular.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Popular Activities</span></a></li>	
										</ul>	
									</li>
									
								</ul>
							</div><!--/.well -->
						</div><!--/span-->
						<!-- end: Main Menu -->
						<noscript>
							<div class="alert alert-block span10">
								<h4 class="alert-heading">Warning!</h4>
								<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
							</div>
						</noscript>

						<%= yield %>




					</div><!--/fluid-row-->

					<div class="modal hide fade" id="myModal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h3>Settings</h3>
					</div>
					<div class="modal-body">
						<p>Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn" data-dismiss="modal">Close</a>
						<a href="#" class="btn btn-primary">Save changes</a>
					</div>
				</div>
				
				<div class="clearfix"></div>
				





				<footer>
					<p>
						<span style="text-align:left;float:left">&copy; <a href="http://www.mingoville.com" target="_blank">Mingoville</a> 2013</span>
					</p>

				</footer>
			</div><!--/.fluid-container-->



<!-- start: JavaScript-->

			<script src="assets/jquery-1.9.1.min.js"></script>
			<script src="assets/jquery-migrate-1.0.0.min.js"></script>
			
			<script src="assets/jquery-ui-1.10.0.custom.min.js"></script>
			
			<script src="assets/jquery.ui.touch-punch.js"></script>
			
			<script src="assets/bootstrap.min.js"></script>
			
			<script src="assets/jquery.cookie.js"></script>
			
			<script src='assets/fullcalendar.min.js'></script>
			
			<script src='assets/jquery.dataTables.min.js'></script>

			<script src="assets/excanvas.js"></script>
			<script src="assets/jquery.flot.min.js"></script>
			<script src="assets/jquery.flot.pie.min.js"></script>
			<script src="assets/jquery.flot.stack.js"></script>
			<script src="assets/jquery.flot.resize.min.js"></script>
			
			<script src="assets/jquery.chosen.min.js"></script>
			
			<script src="assets/jquery.uniform.min.js"></script>

			<script src="assets/jquery.cleditor.min.js"></script>
			
			<script src="assets/jquery.noty.js"></script>
			
			<script src="assets/jquery.elfinder.min.js"></script>
			
			<script src="assets/jquery.raty.min.js"></script>
			
			<script src="assets/jquery.iphone.toggle.js"></script>
			
			<script src="assets/jquery.uploadify-3.1.min.js"></script>
			
			<script src="assets/jquery.gritter.min.js"></script>
			
			<script src="assets/jquery.imagesloaded.js"></script>
			
			<script src="assets/jquery.masonry.min.js"></script>
			
			<script src="assets/jquery.knob.js"></script>
			
			<script src="assets/jquery.sparkline.min.js"></script>

			<script src="assets/custom.js"></script>
			<script type="text/javascript">
					
			</script>
			<!-- end: JavaScript-->





	</body>
	</html>
